@-webkit-keyframes blink {  
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 0px;
	background: #2e0404;
	color: #823d3d;
	font: 14px  "Ubuntu Mono", "Lucida Console", "Courier New", Courier;
	padding: 5px;
}

a {
	color: #CDA869;
	text-decoration: none;
}
a:active, a:hover {
	color: #CF6A4C;
	text-decoration: underline;
}
.highlight
{
color: #CDA869;
}
b {
	color: #b17575;
	font-weight: heavy;
}
pre#bubbles {font-size:8pt; line-height:3pt;  letter-spacing: -3px;font-weight: bold;}
pre#penguin {font-size:8pt; line-height:8pt; letter-spacing: -1.5px; font-weight: bold;}
pre#penguin {font-size:12px; line-height:9px; letter-spacing: -2px; font-weight:bold;}

span.man
{
	color: #CF6A4C;
	font-weight: bold;
	font-size: 14px;
width: 400px;

}

span.maninfo
{
width: 400px;
margin-left: 50px;
}

div {
	overflow: hidden;
	zoom: 1;
}

span {
	float: left;
}
span.prompt {
	padding-right: 5px;
	padding-bottom: 2px;
	color: #ae3c3c;
}

span.blink {
	font-size: 14px;
	line-height:12px;
	text-decoration: blink; /*for cross-browser compatibility*/
  -webkit-animation-name: blink;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s; 
}

span.commandhelp {
	width: 120px;
}

